*{
    box-sizing: border-box;
}
.css-view-175oi2r{
    height: 100%;
}
.background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-image: url(../images/airport/bckg.png);
    padding: 10px;
}
.menuMain{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border: 1px solid #BCBCBC;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    background-color: white;
}
.mapBorder{
    width: 70px;
    height: 70px;
    background: #F17F3D;
    border: 1px solid #BCBCBC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-12px);
}
.mapp{
    transform: translateY(-4px);
}
.logomain{
    height: 50px;
    position: relative;
}
.backbutton {
   position: absolute;
   left: 10px;
   top: 50%;
   transform: translateY(-50%);
}
.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.traziaerodrom{
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #979696;
    border-radius: 5px;

}
.divinput{
    width: 100%;

}
.naslov{
    width: 100%;
    height: 28px;
    margin-bottom: 15px;
    font-family: "Arial Rounded MT Bold";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}
.botuni{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.supported{
    font-family: 'Arial Rounded MT Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #000000;
}
.slovo{
    margin-left: 10px;
    width: 15px;
    height: 23px;
    left: 9px;
    top: 238px;
    font-family: 'Arial Rounded MT Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 7px;
}
.airports{
    display: flex;
    flex-direction: column;
}
.scroll{
    bottom: 0%;
    position: absolute;
    z-index: 5;
    width: 375px;
    height: 124px;
    left: 0px;
    top: 690px;
    background: linear-gradient(180deg, rgba(234, 234, 234, 0) 0%, rgba(234, 234, 234, 0.489583) 15.23%, rgba(234, 234, 234, 0.793302) 29.98%, #EAEAEA 51.6%, #EAEAEA 94.35%);
}