.css-view-175oi2r {
    background-color: white;
}
.mainmain {
    padding: 25px;
}

input {
    border: 1px solid #CFCFCF;
    border-radius: 6px;
    width: 100%;
    height: 48px;
}
.loginlogo{
    padding-bottom: 40px;
}