.landing-page {

}

.landing-page--background {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page--logotype {
  margin-top: 81px;
  margin-bottom: 400px;
}
